<header{% if include.class %} class="{{ include.class }}"{% endif %}>
  <h1>
    <!-- Titel -->
    {{ page.title | escape }}
    <!-- Kicker -->

    <span><img src="{{ site.data.ci.logos.icon.path }}" alt="{{ site.data.ci.logos.icon.alt }}">{{ page.kicker | escape }}</span>
  </h1>
  
  <!-- Header Image -->
  {% if page.image.display == true %}
    <figure class="inline">
      <img class="responsive" src="{{ page.image.path }}" alt="{{ page.image.alt }}">
      <div class="footer" aria-hidden="true">
        <span class="copyright" title="{{ page.image.source.text }}">{{ page.image.source.text }}</span>
      </div>
    </figure>
  {% endif %}
  <!-- Lead (Description) -->
  {% if page.description %}
    <p class="teazer">
      {{ page.description }}
    </p>
  {% endif %}
  <!-- Meta (Geschrieben, letzer Update, social buttons) -->
  {% if page.meta %}
    <p class="meta">
      {{ page.meta }}
    </p>
  {% endif %}
</header>